<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Contact Us |Thank you</title>

  <style>
      p {
          font-size: 1.5em;
      }
  </style>

</head>
<body>
  <div class="text-align: center;">
      <img height="300" src="https://finalbossar.s3.us-east-2.amazonaws.com/logos/Logo_1.png?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEI%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCIHnS7EH8xzjlXqde%2BJmffWMp%2FypM3Md1P2K8maOV3G2lAiEAlw0zA%2BHP34b432w9pdVTjM7n9aqOtFKfL38W9y2HQZwq7QII%2BP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARACGgw2OTkyOTYyNzI2NDAiDGMbJdrLBUrpnQrpYSrBAp73J2qshpLSMsUxg8j8WnNKdgYdCOPz%2F4sjt1jGr44qVPrqsMTq8nDJKXNpSqUJoqrPezQL9TGnYra%2BgLC3UIi0kJfM8sqp5XdAdtSEJ2dKUDaHJK9TOqZhDL%2BVk1%2BZDWSu%2FHFi1kggPWZ0q7R60cIdPMG2H5ueJVOhtrT5sAnVMv8wCJTILikFx%2FshFja85wCPMsNLe692ZYI5gbKWynbRCY7N8nr%2Bl1GPaGcUFVL3VbmVICf%2BuRyIO4kHPkTne8M4nEMzNvCGvUFwiPA1jiJAYkPuvOt0x9eO2%2F0OdTL%2BLXYaK%2FcglzoP2F5ZdkxlMn0oTIikJZz12hbKbKfUa1HdxnUI6Is9aVRccc142pD7t6bob3qEJKc2GyT0FkCA91k9yjOxt1CQPy4LxBN%2BopfE5hu8s5%2BJ9Cf9Tu8X%2Fja8cjCGmfSXBjqzApJq1j%2FM0T6265J0S51z3D4f4LmcT3md3%2BbGa4A3BWE8qFs3LjNGHDVXseByLa4Hy47dh78dC26Nw3fwDeD9yardI440ExigIDjelF4Nnb2pvgNnXyMK3uR5I7pDAsC256Scvb9sI130JPEzMebpS21ix9hvrgid4YBZXdEULgkUxUMJCiXzNYzBVVtbxHy1t%2Fcup1ZXOVxbZ9PGxnB5ShM0lTNHo3hcIsHxFZsLOkz9T4XQ8fcXvkCkpcowRQh4N2YK1PBkRS7UD7gbgEekVFd1icQAn4GiZwPfg%2FMKZUx76CBUyHIaPcZFgXWeosBKsYoa8HxxJbrmYZX3dTgCU6G2NWqD97QCVFM59VrH1U%2Fylz%2BfihCJ8ss5pOuEIledZsbdAHgf0fBiBbSSKM%2BEICXsCAo%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220818T014200Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA2FUKOKEANCICCAGW%2F20220818%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=418dc54451733b2f3280509087203705b80e2222c1885c63d59ec4937552a654" alt="" srcset="">
  </div>
  <h2>Hello {{fullName}}! </h2>
  <p>Thank you so much for contacting us! We will contact you as soon as possible. </p>
</body>
</html>
